<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<meta name="description" content="" />
    
<xi:include href="../master.html" />      
<head>

</head>                    

<body>
<div style="text-align:left;">

<h1>
Dynamic graph analysis via linlog n-body simulation 
</h1>

<p>
At a high level, the following is about reducing the dimensionality of a graph. 
Detailing the value in graph reduction is a topic i'll leave for another day. 
For now i'll simply say, graphs are convenient abstractions that can be used to represent complex problems. 
If you're curious about how/where graphs are used check out <a href="http://networkscience.wordpress.com/2011/11/21/why-everything-is-a-network/">this from a recent network science postdoc</a>. 
</p>

<p>
Assuming then, the inherit value in graphs. 
Reducing the dimensionality of a graph (squeezing out it's essence) is also valuable. 
There a lot of methods of dimension reduction. 
There are a lot of methods of graph analysis. 
The method/model described here uses <a href="http://en.wikipedia.org/wiki/N-body">N-body simulation</a> to reduce a graph to 2 dimensions.
Reducing the dimensionality of our graph this much has the nice effect of making it human digestible. 
</p>

<p>
We're interested in a 2d graph layout. 
Stay w/ me for a second. 
We're going to scatter all the nodes in our graph on a 2d surface. 
Our nodes interact w/ each other until they settle down to some kind of equilibrium. 
This is know generally as <a href="http://en.wikipedia.org/wiki/Energy_minimization">Energy Minimization</a>, and is commonly used to model complex physical systems. 
Fans of complexity and social science will see a lot of similarities w/ this and Agent Based Modeling. 
</p>

<p>
Lets talk for a minute about our goal. 
I'm interested in graph clustering. 
</p>

<p>
Luckily Dr. Andreas Noack has done all the hard work. 
Noack’s LinLog energy model is considered the best force model to preserve the community structure of a graph.
The following is from his 2007 paper
<a href="http://www-sst.informatik.tu-cottbus.de/~an/Publications/JGAA2007.pdf">Energy Models for Graph Clustering</a>.
</p>

<blockquote>
edge-repulsion LinLog energy minimize the ratio of the mean distance 
between connected end nodes to the mean distance between all end nodes.
</blockquote>

<p>
Put simply, Noack's method minimizes the distance between connected nodes while maximizing the distance between all other nodes.
He proves this is possible via a simple: Linear Repulsion -- Logarithmic Attraction energy model. 
</p>

<p>
I gotta go, more to come!
</p>

</div>
</body>                                    
</html>

