<!DOCTYPE html> 



<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="../master.html" />      
<head>

    <script src="/static/js/social_map.js" type="text/javascript"></script>
    
    <script type="text/javascript" >
        $(document).ready(function(){
            var reduction_id = ${reduction.id};
            var num_groups = ${num_groups};
            load_social_map(reduction_id, num_groups);
            bind_root_user_selector_change();
            bind_next_or_prev_reduction_click();
        });
    </script>
    
</head>                    

<body>

    <div style="width:900px; margin:0 auto;">

        <div style="float:left; width:350px;margin:0;padding:0 30px 0 0;">        
            <select id="root_user_selector" style="padding:2px 5px;">
                <option py:if="iter_user.id == root_user.id" 
                    py:for="iter_user in users_with_a_reduction" 
                    value="${iter_user.id}"
                    selected="selected">
                        ${iter_user.screen_name}</option>
                <option py:if="iter_user.id != root_user.id" 
                    py:for="iter_user in users_with_a_reduction" 
                    value="${iter_user.id}">
                        ${iter_user.screen_name}</option>
            </select>
            <div id="group_details" style="margin:10px 0 0 10px;">&nbsp;</div>
        </div>
        
        <div style="float:left; width:500px;margin:0;padding:0;">
            <!--<div>Reduction created: ${reduction.createddate.strftime('%b %d %H:%M:%S')}</div>-->

            <!--<div>
                <div style="float:left;">
                    <a class="next_or_prev_reduction" id="prev_reduction" href="#">Prev Reduction</a>
                </div>
                <div style="float:right;">
                    <a class="next_or_prev_reduction" id="next_reduction" href="#">Next Reduction</a>
                </div>
            </div>-->

            <div id="map_data"></div>

            <div id="spinner" style="margin:200px auto 0 200px;">
                <img style="padding:0;" src="/static/images/spinner.gif" alt="spinner"/>
            </div>
            &nbsp;
        </div>

        <div class="clear"></div>

    </div>

</body>                                    
</html>

