<!DOCTYPE html> 



<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="master.html" />      
<head>

</head>                    

<body>
<div class="main">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span6">
          <div class="hero-unit">
            <h2>Maps for Social Networks</h2>
            We're modeling the complex influence of Humans. Using data from online networks such as: Twitter, Facebook, LinkedIn, and Email, along with methods and software influenced by Computational Biology, Fluid Dynamics, Machine Learning, and Network Science. We're mapping the human network like the human genome. We're using millions of factors to intelligently group and cluster individuals, to go way beyond “simple” demographic classification.
          </div>
        </div>
        <div class="span4">
          <div class="row-spacer"></div>
          <h3>Sign Up:</h3>
          Want to see a map of your social network? Our current beta test is full, but we're expanding quickly. Register with your twitter account to be added to our wait list.
          <p>
            <div class="btn btn-success">Register</div></p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <h3>Influenced by Nature.</h3>
            Influenced by the work of physicists, biologists, and network scientists, we're extending their work to tackle the complexity of social networks. We've created a system to map a large social network (Millions of Nodes) from a user-specific perspective.
          </div>
          <div class="span4">
            <h3>Visualize.</h3>
            Social Networks are complex.  Our goal is to tame that complexity through an easy to visualize map.  Just as maps and GPS help us navigate the physical world, social maps can help us navigate our complex social networks.
          </div>
        </div>
        <div class="row-spacer"></div>
        <div class="row">
          <div class="span4">
            <h3>How it works.</h3>
            At a high level, each person in the network is treated as an Agent, with his/her own unique properties. Agents interact in a parallel simulation that learns over time. Eventually clusters of like-minded Agents Emerge. These clusters are the continents on the social map. They represent groups or niches in the social world. 
          </div>
          <div class="span4">
            <h3>Check it out.</h3>
            <a href="/social_map">Explore a Social Map.</a>
          </div>
        </div>
        <div class="row-spacer"></div>
      </div>
    </div>
  </div>

</body>                                    
</html>

