<!DOCTYPE html> 



<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="master.html" />      
<head>

</head>                    

<body>
    <div style="text-align:center;">
        <p>
            ${site_description}
        </p>
        <p>
            <a href="/social_map">Explore an existing social map</a>
        </p>
    </div>
</body>                                    
</html>

