
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en"
    py:strip="">

<head py:match="head" py:attrs="select('@*')">

    <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet"/>  
    
    <script src="/static/js/jquery.js" type="text/javascript"></script>
    <script src="/static/js/d3-v2.7.1/d3.js" type="text/javascript"></script>
    <script src="/static/js/master.js" type="text/javascript"></script>

    <meta name="description" content="${meta_page_description}" />

    <title>${title}</title>

    <!--inserts all the header crap from the child-->
    <meta py:replace="select('*|text()')" />

</head> 

<body py:match="body" py:attrs="select('@*')">

  <div class="navbar navbar-fixed-top" style="background-color:#ffffff;">
    <div class="navbar-inner">
      <div class="container">

        <a href="/" class="brand">
            <img src="/static/images/smarttypes_logo.png" alt="${site_name}: ${site_mantra}"/>
        </a>

        <ul class="nav secondary-nav pull-right">
          <li>
            <a href="/blog">
              Blog
            </a>
          </li>

          <li>
            <a href="/about">
              About
            </a>
          </li>

          <li>
            <a href="/social_map" class="${'active' if active_tab == 'social_map' else ''}">
              Social maps
            </a>
          </li>
          
          <li py:if="not logged_in_user">
            <a href="/sign_in" class="${'active' if active_tab == 'sign_in' else ''}">
              Sign in w/ twitter
              <!--This is causing a spacing issue
              <img src="/static/images/twitter_16_gray.png" style="border:none;padding:0;" alt="twitter"/>
              -->
            </a>
          </li>
          
          <li py:if="logged_in_user">
            <a href="/my_account" class="${'active' if active_tab == 'my_account' else ''}">
              ${logged_in_user.screen_name}
              <!--<img src="/static/images/twitter_16_gray.png" style="border:none;padding:0;" alt="twitter"/>-->
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="container">
      <div class="content">
        <div class="row-spacer"></div>
            <!--crap from the child-->
        <div py:replace="select('*|text()')"></div>
 
        <footer>
          <div class="row">
            <div class="row-spacer"></div>
            <div class="span4 offset4">
              <div class="centerText">
                <a href="https://github.com/smarttypes/smarttypes">Our Open Source Projects</a>
                <p>&copy; SmartTypes 2012</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>

</body>
</html>
