<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="master.html" />      
<head></head>                    

<body>

    <div style="text-align:center;">
        <p>
            Creating a social map takes a lot of storage and cycles, it's kind of expensive.
            Because of this we need to be choosy about who's data we pull, at least in our wee infancy.
            An email has been sent to our team notifying them of your interest.
            Please provide your email address so we can contact you directly if approved.
        </p>
        
        <div style="padding:0 0 0 0;">
            <form name="input" action="/save_email" method="post" style="margin:20px 0;">
                <?python
                    email_value = credentials.email if credentials else ''
                    email_label = 'Email:' if email_value else "Email?"
                    email_submit = 'Update' if email_value else 'Add'
                ?>
                <span class="label">${email_label}</span>
                <input type="text" style="text-align:center;" class="text" name="email" value="${email_value}" />
                <input type="submit" class="submit" value="${email_submit}" />
            </form> 
        </div>
    </div>

</body>                                    
</html>

