<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="master.html" />      
<head>

</head>                    

<body>

    <div style="text-align:center;">
        <p>
        Thank you for registering w/ SmartTypes, we're already learning about your network and interests.
	We'll send you an email every week, highlighting communities, people, and content that you'll find interesting.
	<a href="">Check out our github repo</a> to learn more about how we do what we do.
        </p>

	<p>
	Oh ya, we need your email address:
	</p>

	<form name="input" action="/save_email" method="post">
	    Email: <input type="text" name="email" />
	    <input type="submit" value="Submit" />
	</form> 
    </div>

</body>                                    
</html>

